.container form {
  margin-top: 3rem;
}

form input[name='city'],
form input[name='country'] {
  background-color: transparent;
  color: lightpink;
  border-bottom: 2px solid whitesmoke;
  border: 0;
  border-radius: 0;
}

form input:focus {
  background-color: transparent;
  box-shadow: none !important;
}
